<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
  <package id="cmder" />
  <package id="virtuawin" />
  <package id="git" />
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="keepass" />
  
  <!--
  <package id="oracle-sql-developer" packageParameters="'/Username:{$env:MOS_USERNAME} /Password:{$env:MOS_PASSWORD}'"/>
  -->
</packages>